<!DOCTYPE HTML>
<html lang="ru">
<head>
<title><%= title %></title>
<meta charset="UTF-8">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css" media="screen, projection">
<meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
</head>
<body>

<div class="all">
	<div class="header">
		<div class="logo"><a href="/">My Blog</a></div>
		<div class="nav">
			<ul>
				<li><a href="/add/">Add post</a></li>
				<li><a href="#">Stats</a></li>
				<li><a href="#">Sign out</a></li>
			</ul>
		</div>
	</div>
	<div class="main">
		<div class="content">
			<div class="meta">
				<div class="author">Author: <%= post.author %></div>
				<div class="date">Published: <%= moment(post.created).format('YYYY-MM-DD HH:mm') %></div>
			</div>
			<h1><%= post.headline %></h1>
			<% if(post.image){ %>
				<img src="/<%= post.image.replace(/\\/g,'/') %>" alt="<%= post.headline %>">
				<br>
				<br>
			<% } %>
			<%= post.body %>
		</div>
		<aside class="sidebar">
			<div class="tags">
				<h3>Tags</h3>
				<div class="js-tags"></div>
			</div>
		</aside>
	</div>
	<div class="footer">
		<div class="soc-icons">
			<a href="#" class="fa fa-facebook-square" aria-hidden="true"></a>
			<a href="#" class="fa fa-twitter-square" aria-hidden="true"></a>
			<a href="#" class="fa fa-instagram" aria-hidden="true"></a>
		</div>
	</div>
</div>
<script src="/js/script.js"></script>

</body>
</html>
